$color-white: #fff;
$color-black: #0c0d0e;
$danger-color:#ff4444;
$danger_dark-color:#CC0000;
$warning-color:#ffbb33;
$warning_dark-color:#FF8800;
$success-color:#00C851;
$success_dark-color:#007E33;
$info-color:#33b5e5;
$info_dark-color:#0099CC;
$default-color:#2BBBAD;
$default-color-dark:#00695c;
$primary-color:#4285F4;
$primary-color-dark:#0d47a1;
$secondary-color:#aa66cc;
$secondary-color-dark:#9933CC;